.logIn{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(45, 31, 31, 0.304);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;    
}
.logIn .logIn_disc{
    background-color: white;
    padding: 4% 3%;
    margin:10%;
    margin-left: 9%;
    width: 450px;
    border-radius: 3%;
    
}

.logIn .logIn_disc h4{
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.logIn .logIn_disc .p1{
    padding-top: 20px;
    font-size: 16px;
    font-weight:400;
}

.logIn .logIn_disc p{
    padding-top: 20px;
    font-size: 12px;
    font-weight:600;
}
.logIn .logIn_disc input,button{
    width: 97%;
    padding: 7px;
    
    border-radius: 7px;
    border: 1px solid black;
    margin-top: 5px;
    font-size: 15px;
}
.logIn .logIn_disc button{
    background-color: #036666;
    color: #edf6f9;
    margin-top: 15px;
}
.logIn .logIn_disc .create{
    padding-top: 20px;
    font-size: 16px;
    font-weight:400;
    display: flex;
    justify-content: center;
}
.logIn .logIn_disc .create span{
    font-weight: bold;
    word-spacing:-2px;
}

.logIn .logIn_disc .create span:hover{
    cursor: pointer;
    color: #036666;
    text-decoration: underline;

}
.logIn i{
    color: #000000;
    position: fixed;
    top: 20%;
    right:37%;
    font-size: 26px;
    cursor: pointer;
}